:root {
  --main-colour: #df5441;
  --text-colour1: #e8e8e8;
  --text-colour2: #787878;
  --text-colour3: #363636;
  --background-colour1: #e87f54;
  --background-colour2: #f0a967;
  --background-colour3: #ecc9a8;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-colour1);
}

.custom-row {
  display: flex;
}

.custom-footer {
  background-color: var(--background-colour3);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: var(--text-colour3);
  margin-top: auto;
}

.custom-footer h6 {
  color: var(--text-colour3);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links a {
  color: var(--text-colour2);
  text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: var(--text-colour1);
}

/* Custom styles for column widths */
.about-column {
  flex: 40%;
}

.categories-column,
.quick-links-column {
  flex: 30%;
}

.navbar {
  background-color: var(--background-colour2);
  overflow: hidden;
}

.navbar-logo {
  float: left;
  display: flex;
  align-items: center;
  padding: 15px;
}

.navbar-logo img {
  height: 30px; /* Adjust the height as needed */
  width: auto;
}

.navbar-search {
  float: right;
  display: flex;
  align-items: center;
  padding: 15px;
}

.search-bar {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.account-button {
  margin-left: 10px;
  padding: 8px;
  background-color: var(--text-colour1);
  color: var(--background-colour1);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.navbar-links {
  background-color: var(--text-colour2);
  overflow: hidden;
}

.navbar-links a {
  float: left;
  display: block;
  color: var(--background-colour2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-links a:hover {
  background-color: var(--text-colour1);
  color: var(--main-colour);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-colour1);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background-colour1);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--text-colour3);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.carousel-item{
  max-height: 650px;
}

.movieTitle{
  font-size: 40px;
  color: white;
  text-shadow: 
    -1px -1px 0 #000, /* Top-left shadow */
    1px -1px 0 #000,  /* Top-right shadow */
    -1px 1px 0 #000,  /* Bottom-left shadow */
    1px 1px 0 #000;   /* Bottom-right shadow */
}
.movieDescription{
  font-size: 20px;
  color: white;
  text-shadow: 
    -1px -1px 0 #000, /* Top-left shadow */
    1px -1px 0 #000,  /* Top-right shadow */
    -1px 1px 0 #000,  /* Bottom-left shadow */
    1px 1px 0 #000;   /* Bottom-right shadow */
}

.movie-container {
  position: relative;
  z-index: 1;
}

.movie_cards {
  display: flex;
  flex-wrap: wrap;
  margin: -1em 0 1em -1em;
  z-index: 1;
}

.movie_card {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  padding: 1em 0 0 1em;
}

.movie_card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 1em;
  border: 1px solid #e2e5ea;
  border-radius: 15px;
}

.movie_card-body {
  flex-grow: 1;
}

@media (max-width: 991px) {
  .movie_card {
    flex: 0 0 33.3333333%;
  }
}
@media (max-width: 767px) {
  .movie_cards {
    justify-content: center;
  }

  .movie_card {
    flex: 0 0 50%;
    max-width: 250px;
  }
}
@media (max-width: 480px) {
  .movie_card {
    flex: 0 0 100%;
  }
}

.movie_card-content {
  background-color: #fff;
  transition: box-shadow 300ms ease-in;
}
.movie_card-content:hover {
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}
.movie_card-content:hover .movie_card-header__image {
  transform: scale(1.05);
}

.movie_card-header {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  margin: -1.1em -1.1em 0;
}
.movie_card-header:after {
  content: "";
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.movie_card-header__image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transition: transform 600ms ease-out;
  transform-origin: center;
  will-change: transform;
}

.movie_card-body__header {
  font-family: "Oswald", sans-serif;
}

.movie_card-footer__date {
  margin-bottom: 10px;
}

.review_btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: 3px 30px;
  font-size: 14px;
  background: #008CBA;
  border-color: #007095;
  color: white;
  transition: background-color 200ms ease-out;
  border-radius: 5px;
}
.review_btn:hover {
  color: white;
  background: #009fd4;
  text-decoration: none;
}
.review_btn:focus {
  text-decoration: none;
  color: white;
}
.review_btn:active {
  background: #0079a1;
}





.forms {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login,
.signup {
  margin-left: 25%;
}

.login {
  /* Initially hide the login form */
  display: none;
}

.signup {
  /* Display the signup form by default */
  display: block;
}













.movie-card {
  display: none;
  width: 40%;
  height: 50%; 
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(95, 93, 93, 0.1);
  z-index: 2;
}

@media (max-width: 800px) {
.movie-card {
    flex-direction: column; 
    align-items: center; 
    width: 80%; 
}
}

.movie-details {
  flex: 1;
  padding: 20px;
}

.movie-details h2 {
  margin-top: 0;
  text-align: center;
}

.movie-details img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.reviews {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
background-color: #f0f0f0;
}

.button-watchlist,
.rating-buttons,
.review-section-text,
.comments-review,
.leave-review {
margin-bottom: 30px; /* Add margin to separate each element */
}

.rating{
    margin-left: 5px;
}

.rating-buttons {
display: flex;
justify-content: space-between;
}

.rating-buttons .rating {
padding: 5px 10px;
font-size: 14px;
}

.review-section {
display: flex;
flex-direction: column;
align-items: center;
}


.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(78, 76, 76);
}
.similar-movies {
  padding-top: 20px;
}

.similar-movies img {
  max-width: 100%;
  height: 50%;
  border-radius: 4px;
}




.results-movie-card {
  display: flex;
  width: 60%;
  height: 30vh; 
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 10px rgba(95, 93, 93, 0.1);
}

@media (max-width: 800px) {
  .results-movie-card {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}

.results-movie-details {
  display: flex;
  flex-basis: 40%; 
  flex-direction: column;
  align-items: center;
  background-color: #587dad;

}

.results-extra {
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  width: auto;
  display: flex;
  flex-basis: 60%; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ad3c3c;
  padding: 20px;
  text-shadow: 
    -1px -1px 0 #000, /* Top-left shadow */
    1px -1px 0 #000,  /* Top-right shadow */
    -1px 1px 0 #000,  /* Bottom-left shadow */
    1px 1px 0 #000;   /* Bottom-right shadow */
}

.results-movie-details img{
  max-width: 60%;
  max-height: 55%;
  border-radius: 4px;
}