<nav>
    <div class="navbar">
        <div class="navbar-logo">
            <img src="img/cinemind_logo.png" alt="Logo">
            <img src="cinemind_logo.png" alt="Logo">
        </div>
        <div class="navbar-search">
            <input type="text"  id="movie-search-bar" class="search-bar" placeholder="Search">
            <!-- Search bar called the get search function from js and gets the balue from text box -->
            <% if (currentPage === 'index') { %>
                <button id="movie-search-btn" class="search-button" onclick="getSearchFromTMDB($('#movie-search-bar').val())">search</button>
            <% } %>
            <% if (user === 'loggedin') { %>
                <button onclick="window.location.href='../myaccount.ejs';" class="account-button">Account</button>
            <% } else { %>
                <button onclick="window.location.href='../index.ejs#signup__container';" class="account-button">Login</button>
            <% } %>
            
        </div>
    </div>

    <div class="navbar-links">
        <a href="../index.ejs">Home</a>
        <a href="../index.ejs#signup__container">Sign Up</a>
        <a href="../groups.ejs">Groups</a>
        <a href="../index.ejs#movies">Movies</a>
    </div>
</nav>